<form action="{{ url_for('statistics') }}">
    <div class="filter-block">
        <div class="field">
            <label for="field-date_from">С даты</label>
            <input type="date" name="date_from" id="field-date_from" value="{% if filters.date.0 %}{{ filters.date.0 }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-date_to">По дату</label>
            <input type="date" name="date_to" id="field-date_to" value="{% if filters.date.1 %}{{ filters.date.1 }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-provider">Провайдер</label>
            <select name="provider" id="field-provider">
                <option value="">-- Все --</option>
                {% for option in extras.providers %}
                    <option value="{{ option.0 }}"{% if option.0 == filters.provider %} selected="selected"{% endif %}>{{ option.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <label for="field-groupby">Группировать по</label>
            <select name="groupby" id="field-groupby">
                {% for option in extras.groupby %}
                    <option value="{{ option.0 }}"{% if option.0 == filters.groupby %} selected="selected"{% endif %}>{{ option.1 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="filter-actions">
        <button class="btn btn-primary">Обновить</button>
        <button type="reset" class="btn btn-success btn-reset">Сбросить фильтр</button>
    </div>
</form>
