{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include 'base_links.html' %}
    {% include 'statistics/filters.html' %}
    {% include 'statistics/data.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/statistics.js') }}"></script>
{% endblock js %}

{% block css %}
<link href="{{ url_for('static', filename='css/statistics.css') }}" rel="stylesheet" />
{% endblock css %}
