*__pycache__*
/config.py
logs/
*standalone*
webserver_config.py
/.idea/
.DS_Store
celerybeat-schedule
/app/dags/results/
/app/dags/data/
/service-*.py
/amocrm-*
/.env
/.env.s3
/managers.xlsx
/app/ats/api/data.csv
/app/ats/api/api.log
/app/intensives/*.json
/app/intensives/*.log
/cache
