Flask==2.3.2
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
Flask-Minify==0.42
WTForms==3.0.1
MarkupSafe==2.1.2
celery==5.2.7
redis==4.5.5
pydantic==1.10.8
pandas==1.5.2
requests==2.31.0
# pymysql~=1.0.2
# httplib2~=0.20.1
# apiclient~=1.0.4
# google-api-python-client~=2.27.0
# oauth2client<4.0.0
# numpy~=1.21.2
# plotly~=5.3.1
# apache-airflow==2.3.3
# transliterate==1.10.2
# typing-extensions>=4.1.0
# XlsxWriter==3.0.3
# pytz==2022.2.1
# colour==0.1.5
# openpyxl==3.1.2
# tqdm==4.65.0
