<div id="statistics">
    <table>
        <thead>
            <tr>
                {% for column in data.columns %}
                    {% if column != "is_group" %}
                        <th class="sticky nowrap">{{ column }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, item in data.iterrows() %}
                <tr>
                    {% for column in data.columns %}
                        {% if column != "is_group" %}
                            {% if column == "Менеджер/Группа" %}
                                <td class="nowrap{% if item.is_group %} info{% endif %}">{{ item[column] }}</td>
                            {% else %}
                                <td class="nowrap font-monospace{% if item.is_group %} info{% endif %} text-right">{{ format_int(item[column]) }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
