<div id="statistics">
    <table>
        <thead>
            <tr>
                {% for column, title in extras.columns.items() %}
                    {% if column not in extras.exclude_columns %}
                        <th class="sticky">{{ title }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr class="total">
                {% for column in extras.columns.keys() %}
                    {% if column not in extras.exclude_columns %}
                        {% if column in ["count_zoom", "payment_count_zoom", "count_so", "payment_count_so"] %}
                            <td class="nowrap font-monospace text-right">{{ format_int(total[column]) }}</td>
                        {% elif column in ["profit_from_zoom", "profit_on_zoom", "average_payment_zoom", "profit_from_so", "profit_on_so", "average_payment_so"] %}
                            <td class="nowrap font-monospace text-right">{{ format_int(total[column]) }} ₽</td>
                        {% elif column in ["conversion_zoom", "conversion_so"] %}
                            <td class="nowrap font-monospace text-right">{{ format_float2(total[column]) }} %</td>
                        {% else %}
                            <td class="nowrap">{{ total[column] }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% for group in groups %}
                <tr class="group">
                    {% for column in extras.columns.keys() %}
                        {% if column not in extras.exclude_columns %}
                            {% if column in ["count_zoom", "payment_count_zoom", "count_so", "payment_count_so"] %}
                                <td class="nowrap font-monospace text-right">{{ format_int(group.info[column]) }}</td>
                            {% elif column in ["profit_from_zoom", "profit_on_zoom", "average_payment_zoom", "profit_from_so", "profit_on_so", "average_payment_so"] %}
                                <td class="nowrap font-monospace text-right">{{ format_int(group.info[column]) }} ₽</td>
                            {% elif column in ["conversion_zoom", "conversion_so"] %}
                                <td class="nowrap font-monospace text-right">{{ format_float2(group.info[column]) }} %</td>
                            {% else %}
                                <td class="nowrap">{{ group.info[column] }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for index, row in group.rows.iterrows() %}
                    <tr>
                        {% for column in extras.columns.keys() %}
                            {% if column not in extras.exclude_columns %}
                                {% if column in ["count_zoom", "payment_count_zoom", "count_so", "payment_count_so"] %}
                                    <td class="nowrap font-monospace text-right">{% if column == "count_zoom" and row[column] > 0 %}<a href="{{ url_for('zooms') }}?manager={{ row["manager_id"] }}&date_from={% if filters.value_date_from is not none %}{{ format_date(filters.value_date_from) }}{% endif %}&date_to={% if filters.value_date_to is not none %}{{ format_date(filters.value_date_to) }}{% endif %}" target="_blank">{{ format_int(row[column]) }}</a>{% else %}{{ format_int(row[column]) }}{% endif %}</td>
                                {% elif column in ["profit_from_zoom", "profit_on_zoom", "average_payment_zoom", "profit_from_so", "profit_on_so", "average_payment_so"] %}
                                    <td class="nowrap font-monospace text-right">{{ format_int(row[column]) }} ₽</td>
                                {% elif column in ["conversion_zoom", "conversion_so"] %}
                                    <td class="nowrap font-monospace text-right">{{ format_float2(row[column]) }} %</td>
                                {% else %}
                                    <td class="nowrap">{{ row[column] }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
