<div class="filter-block">
    <div class="field">
        <label for="field-date_from">С даты</label>
        <input type="date" name="date_from" id="field-date_from" value="{{ filters.date_from }}">
    </div>
    <div class="field">
        <label for="field-date_to">По дату</label>
        <input type="date" name="date_to" id="field-date_to" value="{{ filters.date_to }}">
    </div>
    <div class="field">
        <label for="field-account">Аккаунт</label>
        <select name="account" id="field-account">
            {% for account in choices.accounts %}
                <option value="{{ account }}"{% if filters.account == account %} selected="selected"{% endif %}>{{ account }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="filter-actions">
    <button class="btn btn-primary">Обновить</button>
    <button class="btn btn-success btn-reset">Сбросить фильтр</button>
</div>
