{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include 'vk/menu.html' %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                {% for column in stats.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, stat in stats.iterrows() %}
                <tr>
                    <td>{{ index }}</td>
                    {% for cell in stat %}
                        <td>{% if is_tuple(cell) %}{{ cell.0 }}<span class="hint">{{ cell.1 }}</span>{% else %}{{ cell }}{% endif %}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
