<div class="base-links">
    <a href="/" class="btn btn-success">В меню</a>
    <a href="{{ url_for('vk_statistics') }}" class="btn btn-success">Статистика</a>
    <a href="{{ url_for('vk_create_ad') }}" class="btn btn-success">Создание</a>
    <a href="{{ url_for('vk_download') }}" class="btn btn-primary">Скачать таблицу объявлений</a>
    <a href="{{ url_for('vk_leads') }}" class="btn btn-primary">Скачать таблицу лидов</a>
    <a href="{{ url_for('vk_xlsx') }}" class="btn btn-primary">.XLSX</a>
</div>
