{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include 'base_links.html' %}
{#    <div class="card p-2">#}
{#        <form action="{{ url_for('vk_statistics') }}">#}
{#            {% if error %}#}
{#                <div class="m-2"><p style="color: red">{{ error }}</p></div>#}
{#            {% endif %}#}
{#            <div class="m-2">#}
{#                <label for="account_id">Кабинет</label>#}
{#                <select class="form-control" data-value="" name="account_id" id="account_id" disabled="disabled"></select>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
    <table>
        <thead>
            <tr>
                <th>sssss</th>
                <th>sssss</th>
                <th>sssss</th>
                <th>sssss</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ddddd</td>
                <td>ddddd</td>
                <td>ddddd</td>
                <td>ddddd</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
