{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/vk/statistics.js') }}"></script>
{% endblock js %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include 'vk/menu.html' %}
    <div class="base-filters card p-3">
        <form action="{{ url_for('vk_statistics') }}">
            {% if error %}
                <div><p style="color: red">{{ error }}</p></div>
            {% endif %}
            <div class="filter-block">
                <div>
                    <label for="group_by">Группировать по</label>
                    <select class="form-control" name="group_by" id="group_by">
                        <option value="ad_id"{% if fields.group_by == 'ad_id' %} selected="selected"{% endif %}>Объявлениям</option>
                        <option value="account_id"{% if fields.group_by == 'account_id' %} selected="selected"{% endif %}>Кабинетам</option>
                        <option value="client_id"{% if fields.group_by == 'client_id' %} selected="selected"{% endif %}>Клиентам</option>
                        <option value="campaign_id"{% if fields.group_by == 'campaign_id' %} selected="selected"{% endif %}>Кампаниям</option>
                    </select>
                </div>
{#                <div>#}
{#                    <label for="group_by">Группировка</label>#}
{#                    <select class="form-control" data-value="{{ fields.group_by }}" name="group_by" id="group_by" disabled="disabled"></select>#}
{#                </div>#}
            </div>
            <div class="filter-actions">
                <div>
                    <button class="btn btn-primary">Показать</button>
                    <button class="btn btn-success btn-reset">Сбросить</button>
                </div>
            </div>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Кабинет</th>
                <th>Клиент</th>
                <th>Кампания</th>
                <th>Объявление</th>
                <th>Дата</th>
                <th>Потрачено</th>
                <th>Просмотры</th>
                <th>Клики</th>
                <th>CTR</th>
                <th>eCPC</th>
                <th>eCPM</th>
                <th>eCPF</th>
                <th>Стоимость сообщения</th>
                <th>Количество сообщений</th>
            </tr>
        </thead>
        <tbody>
            {% for index, stat in stats.iterrows() %}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td class="nowrap">{{ stat.account_id }} <span class="hint">{{ accounts[stat.account_id].account_name }}</span></td>
                    <td class="nowrap">{{ stat.client_id }} <span class="hint">{{ clients[stat.client_id].name }}</span></td>
                    <td class="nowrap">{{ stat.campaign_id }} <span class="hint">{{ campaigns[stat.campaign_id].name }}</span></td>
                    <td class="nowrap">{{ stat.id }} <span class="hint">{{ ads[stat.id].name }}</span></td>
                    <td class="nowrap font-monospace">{{ stat.date }}</td>
                    <td class="font-monospace text-right">{{ stat.spent }}</td>
                    <td class="font-monospace text-right">{{ stat.impressions }}</td>
                    <td class="font-monospace text-right">{{ stat.clicks }}</td>
                    <td class="font-monospace text-right">{{ stat.ctr }}</td>
                    <td class="font-monospace text-right">{{ stat.effective_cost_per_click }}</td>
                    <td class="font-monospace text-right">{{ stat.effective_cost_per_mille }}</td>
                    <td class="font-monospace text-right">{{ stat.effective_cpf }}</td>
                    <td class="font-monospace text-right">{{ stat.effective_cost_per_message }}</td>
                    <td class="font-monospace text-right">{{ stat.message_sends }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
