<div id="statistics">
    <table>
        <thead>
            <tr>
                <th class="sticky nowrap">&nbsp;</th>
                {% for column in data.columns %}
                    <th class="sticky nowrap">{{ extras.columns[column] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for column in data.columns %}
                    {% if column in ["leads", "income", "ipl", "expenses", "profit", "ppl", "cpl", "ppl_range", "ppl_30d", "leads_range", "leads_30d"] %}
                        <td class="nowrap font-monospace text-right{% if is_tuple(total[column]) %} colored {{ total[column].1 }}{% endif %}">
                            {% if column in ["leads", "income", "ipl", "expenses", "profit", "ppl", "cpl"] %}
                                {{ format_int(total[column]) }}
                            {% elif is_tuple(total[column]) %}
                                {{ format_int(total[column].0) }}
                            {% else %}
                                {{ total[column] }}
                            {% endif %}
                        </td>
                    {% elif column == "name" %}
                        <th>&nbsp;</th>
                        <td class="nowrap{% if is_tuple(total[column]) %} colored {{ total[column].1 }}{% endif %}">{% if is_tuple(total[column]) %}{{ total[column].0 }}{% else %}{{ total[column] }}{% endif %}</td>
                    {% else %}
                        <td class="nowrap{% if is_tuple(total[column]) %} colored {{ total[column].1 }}{% endif %}">{% if is_tuple(total[column]) %}{{ total[column].0 }}{% else %}{{ total[column] }}{% endif %}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for index, statistic in data.iterrows() %}
                <tr{% if statistic.get("name").2 == details %} class="details"{% endif %}>
                    <th class="nowrap">{{ index + 1 }}</th>
                    {% for column in data.columns %}
                        {% if column in ["leads", "income", "ipl", "expenses", "profit", "ppl", "cpl", "ppl_range", "ppl_30d", "leads_range", "leads_30d"] %}
                            <td class="nowrap font-monospace text-right{% if is_tuple(statistic[column]) %} colored {{ statistic[column].1 }}{% endif %}">
                                {% if column in ["leads", "income", "ipl", "expenses", "profit", "ppl", "cpl"] %}
                                    {{ format_int(statistic[column]) }}
                                {% elif is_tuple(statistic[column]) %}
                                    {{ format_int(statistic[column].0) }}
                                {% else %}
                                    {{ statistic[column] }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td class="nowrap{% if is_tuple(statistic[column]) %} colored {{ statistic[column].1 }}{% endif %}">{% if column == "name" %}<a href="{{ url }}{{ qs_tail }}details={{ statistic[column].2 }}">{% endif %}{% if is_tuple(statistic[column]) %}{{ statistic[column].0 }}{% else %}{{ statistic[column] }}{% endif %}{% if column == "name" %}</a>{% endif %}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if details_extra is not none %}
<div id="statistics-extra">
    <h2>{{ details_extra.title }}</h2>
</div>
{% endif %}

{% if details_leads is not none %}
<div id="statistics-leads">
    <h2>{{ details_leads.title }}</h2>
    <table>
        <thead>
            <tr>
                <th class="sticky nowrap">&nbsp;</th>
                {% for column in details_leads.data.columns %}
                    <th class="sticky nowrap">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, item in details_leads.data.iterrows() %}
                <tr>
                    <th class="nowrap">{{ index + 1 }}</th>
                    {% for column in details_leads.data.columns %}
                        {% if column == "Дата" %}
                            <td class="nowrap font-monospace">{{ format_date(item[column]) }}</td>
                        {% elif column == "IPL" %}
                            <td class="nowrap font-monospace text-right">{{ format_float2(item[column]) }}</td>
                        {% else %}
                            <td class="nowrap">{{ item[column] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
