<div id="statistics">
    <table>
        <thead>
            <tr>
                <th class="sticky nowrap">&nbsp;</th>
                {% for column in data.columns %}
                    <th class="sticky nowrap{% if column =="Расход" %} text-right{% endif %}">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="nowrap" colspan="3">Итого</td>
                <td class="nowrap font-monospace text-right">{{ format_int(total["Расход"]) }}</td>
            </tr>
            {% for index, statistic in data.iterrows() %}
                <tr>
                    <th class="nowrap">{{ index + 1 }}</th>
                    {% for column in data.columns %}
                        {% if column == "Расход" %}
                            <td class="nowrap font-monospace text-right">
                                {% if column == "Расход" %}
                                    {{ format_int(statistic[column]) }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td class="nowrap">{{ statistic[column] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>