<div id="statistics">
    {% if not data.empty %}
        <table>
            <thead>
                <tr>
                    <th class="sticky nowrap"></th>
                    {% for column in data.columns %}
                        {% if column not in extras.exclude_columns %}
                            <th class="sticky nowrap">{{ column }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr class="date">
                    <th class="font-monospace text-right"></th>
                    {% for column in data.columns %}
                        {% if column not in extras.exclude_columns %}
                            {% if column in ["Менеджер"] %}
                                <td class="nowrap">{{ total[column] }}</td>
                            {% else %}
                                <td class="nowrap font-monospace text-right recalc" data-value="{{ total[column] }}" data-owner="{{ total["Сумма продаж"] }}" data-full="{{ total["profit_total"] }}"></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for index, item in data.iterrows() %}
                    <tr>
                        <th class="font-monospace text-right">{{ loop.index }}</th>
                        {% for column in data.columns %}
                            {% if column not in extras.exclude_columns %}
                                {% if column in ["Менеджер"] %}
                                    <td class="nowrap">{{ item[column] }}</td>
                                {% else %}
                                    <td class="nowrap font-monospace text-right recalc" data-value="{{ item[column] }}" data-owner="{{ item["Сумма продаж"] }}" data-full="{{ item["profit_total"] }}"></td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Нет данных
    {% endif %}
</div>

