<form action="{{ url_for('managers_sales_dates') }}">
    <div class="filter-block">
        <div class="field">
            <label for="field-payment_date_from">Оплата с даты</label>
            <input type="date" name="payment_date_from" id="field-payment_date_from" value="{% if filters.payment_date_from %}{{ filters.payment_date_from }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-payment_date_to">Оплата по дату</label>
            <input type="date" name="payment_date_to" id="field-payment_date_to" value="{% if filters.payment_date_to %}{{ filters.payment_date_to }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-course">Курс</label>
            <select name="course" id="field-course"{% if not extras.courses %} disabled="disabled"{% endif %}>
                {% if extras.courses %}
                    <option value="__all__">-- Все --</option>
                    {% for option in extras.courses %}
                        <option value="{{ option.0 }}"{% if option.0 == filters.course %} selected="selected"{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="field field-checkbox">
            <input type="checkbox" id="field-percent_owner" name="percent_owner"{% if filters.percent_owner %} checked="checked"{% endif %}>
            <label for="field-percent_owner">Процент от личного</label>
        </div>
        <div class="field field-checkbox">
            <input type="checkbox" id="field-percent" name="percent"{% if filters.percent %} checked="checked"{% endif %}>
            <label for="field-percent">Процент от общего</label>
        </div>
    </div>
    <div class="filter-actions">
        <button class="btn btn-primary">Обновить</button>
        <button type="reset" class="btn btn-success btn-reset">Сбросить фильтр</button>
    </div>
</form>
