<form action="{{ url_for('week_stats_channels') }}">
    <div class="filter-block">
        <div class="field">
            <label for="field-order_date_from">Расход с даты</label>
            <input type="date" name="order_date_from" id="field-order_date_from" value="{% if filters.order_date_from %}{{ filters.order_date_from }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-order_date_to">Расход по дату</label>
            <input type="date" name="order_date_to" id="field-order_date_to" value="{% if filters.order_date_to %}{{ filters.order_date_to }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-profit_date_from">Оплата с даты</label>
            <input type="date" name="profit_date_from" id="field-profit_date_from" value="{% if filters.profit_date_from %}{{ filters.profit_date_from }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-profit_date_to">Оплата по дату</label>
            <input type="date" name="profit_date_to" id="field-profit_date_to" value="{% if filters.profit_date_to %}{{ filters.profit_date_to }}{% endif %}">
        </div>
    </div>
    <div class="filter-block" style="margin-top:-.5rem">
        <div class="field month">
            {% for item in extras.month %}
                <span data-value="{{ item.0 }}">{{ item.1 }}</span>
            {% endfor %}
        </div>
        <div class="field" style="display:none">
            <label for="field-month">Месяц</label>
            <input type="month" id="field-month">
        </div>
    </div>
    <div class="filter-actions">
        <button class="btn btn-primary">Обновить</button>
        <button type="reset" class="btn btn-success btn-reset">Сбросить фильтр</button>
    </div>
</form>
