div.page-info {
    position: relative;
    display: block;
    margin: inherit;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

div.pagination-range {
    margin-top: 7px;
}

.pagination {
    margin-top: 10px;
    max-width: max-content;
    overflow: auto;
}