<div id="statistics">
    <table class="hidden">
        <thead>
            <tr>
                <th class="sticky nowrap">&nbsp;</th>
                {% for column in data.columns %}
                    <th class="sticky nowrap">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="nowrap">&nbsp;</th>
                {% for column in data.columns %}
                    {% if column in ["С даты", "По дату"] %}
                        <td class="nowrap font-monospace info">{{ total[column] }}</td>
                    {% else %}
                        <td class="nowrap font-monospace text-right info"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for index, statistic in data.iterrows() %}
                <tr>
                    <th class="nowrap">{{ index + 1 }}</th>
                    {% for column in data.columns %}
                        {% if column in ["С даты", "По дату"] %}
                            <td class="nowrap font-monospace info">{{ statistic[column] }}</td>
                        {% else %}
                            <td class="nowrap font-monospace text-right{% if column in ["Значение", "Сумма"] %} warning{% endif %}"{% if column not in ["Сумма"] %} data-value="{{ render_int(statistic[column]) }}"{% endif %}></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
