<form action="{{ url_for('statistics_utm') }}">
    <div class="filter-block">
        <div class="field">
            <label for="field-date_from">С даты</label>
            <input type="date" name="date_from" id="field-date_from" value="{% if filters.date.0 %}{{ filters.date.0 }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-date_to">По дату</label>
            <input type="date" name="date_to" id="field-date_to" value="{% if filters.date.1 %}{{ filters.date.1 }}{% endif %}">
        </div>
    </div>
    <div class="filter-block">
        <div class="field">
            <label for="field-utm_source">UTM source</label>
            <select name="utm_source" id="field-utm_source"{% if not extras.utm_sources %} disabled="disabled"{% endif %}>
                {% if extras.utm_sources %}
                    <option value="__all__">-- Все --</option>
                    {% for option in extras.utm_sources %}
                        <option value="{{ option.0 }}"{% if option.0 == filters.utm_source %} selected="selected"{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="field">
            <label for="field-utm_medium">UTM medium</label>
            <select name="utm_medium" id="field-utm_medium"{% if not extras.utm_mediums %} disabled="disabled"{% endif %}>
                {% if extras.utm_mediums %}
                    <option value="__all__">-- Все --</option>
                    {% for option in extras.utm_mediums %}
                        <option value="{{ option.0 }}"{% if option.0 == filters.utm_medium %} selected="selected"{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="field">
            <label for="field-utm_campaign">UTM campaign</label>
            <select name="utm_campaign" id="field-utm_campaign"{% if not extras.utm_campaigns %} disabled="disabled"{% endif %}>
                {% if extras.utm_campaigns %}
                    <option value="__all__">-- Все --</option>
                    {% for option in extras.utm_campaigns %}
                        <option value="{{ option.0 }}"{% if option.0 == filters.utm_campaign %} selected="selected"{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="field">
            <label for="field-utm_term">UTM term</label>
            <select name="utm_term" id="field-utm_term"{% if not extras.utm_terms %} disabled="disabled"{% endif %}>
                {% if extras.utm_terms %}
                    <option value="__all__">-- Все --</option>
                    {% for option in extras.utm_terms %}
                        <option value="{{ option.0 }}"{% if option.0 == filters.utm_term %} selected="selected"{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="field">
            <label for="field-utm_content">UTM content</label>
            <select name="utm_content" id="field-utm_content"{% if not extras.utm_contents %} disabled="disabled"{% endif %}>
                {% if extras.utm_contents %}
                    <option value="__all__">-- Все --</option>
                    {% for option in extras.utm_contents %}
                        <option value="{{ option.0 }}"{% if option.0 == filters.utm_content %} selected="selected"{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
    <div class="filter-block">
        <div class="field">
            <label for="field-groupby">Группировать по</label>
            <select name="groupby" id="field-groupby">
                {% for option in extras.groupby %}
                    <option value="{{ option.0 }}"{% if option.0 == filters.groupby %} selected="selected"{% endif %}>{{ option.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field field-checkbox">
            <input type="checkbox" name="only_ru" id="only_ru"{% if filters.only_ru %} checked="checked"{% endif %}>
            <label for="only_ru">Только Россия</label>
        </div>
    </div>
    <div class="filter-actions">
        <button class="btn btn-primary">Обновить</button>
        <button type="reset" class="btn btn-success btn-reset">Сбросить фильтр</button>
    </div>
</form>
