{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="base-links">
        {% include 'week-stats/base_links.html' %}
{#        <a href="https://docs.google.com/spreadsheets/d/1C4TnjTkSIsHs2svSgyFduBpRByA7M_i2sa6hrsX84EE/edit#gid=919117747" class="btn btn-warning" target="_blank">Исходные данные</a>#}
    </div>
    {% include 'week-stats/zoom/filters.html' %}
    {% include 'week-stats/zoom/data.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/week-stats/zoom/index.js') }}"></script>
{% endblock js %}
