{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/vk/statistics.js') }}"></script>
{% endblock js %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include 'vk/menu.html' %}
{#    <div class="base-filters card p-3">#}
{#        <form action="{{ url_for('vk_statistics') }}">#}
{#            {% if error %}#}
{#                <div><p style="color: red">{{ error }}</p></div>#}
{#            {% endif %}#}
{#            <div class="filter-block">#}
{#                <div>#}
{#                    <label for="group_by">Группировать по</label>#}
{#                    <input type="checkbox" name="group_by" id="group_by_account_id"><label for="group_by_account_id">Кабинетам</label>#}
{#                    <input type="checkbox" name="group_by" id="group_by_account_id"><label for="group_by_account_id">Клиентам</label>#}
{#                    <input type="checkbox" name="group_by" id="group_by_account_id"><label for="group_by_account_id">Кампаниям</label>#}
{#                    <input type="checkbox" name="group_by" id="group_by_account_id"><label for="group_by_account_id">Объявлениям</label>#}
{#                    <select class="form-control" name="group_by" id="group_by">#}
{#                        <option value="ad_id"{% if fields.group_by == 'ad_id' %} selected="selected"{% endif %}>Объявлениям</option>#}
{#                        <option value="account_id"{% if fields.group_by == 'account_id' %} selected="selected"{% endif %}>Кабинетам</option>#}
{#                        <option value="client_id"{% if fields.group_by == 'client_id' %} selected="selected"{% endif %}>Клиентам</option>#}
{#                        <option value="campaign_id"{% if fields.group_by == 'campaign_id' %} selected="selected"{% endif %}>Кампаниям</option>#}
{#                    </select>#}
{#                </div>#}
{#            </div>#}
{#            <div class="filter-actions">#}
{#                <div>#}
{#                    <button class="btn btn-primary">Показать</button>#}
{#                    <button class="btn btn-success btn-reset">Сбросить</button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
    <table class="statistics">
        <thead>
            <tr>
                <th rowspan="3">#</th>
                <th rowspan="3">Кабинет</th>
                <th rowspan="3">Клиент</th>
                <th rowspan="3">Кампания</th>
                <th rowspan="3">Объявление</th>
                <th rowspan="3">Заголовок / Описание / Изображение</th>
                <th rowspan="3">Дата</th>
                <th rowspan="3">Потрачено</th>
                <th rowspan="3">Просмотры</th>
                <th rowspan="3">Клики</th>
                <th rowspan="3">CTR</th>
                <th rowspan="3">eCPC</th>
                <th rowspan="3">eCPM</th>
                <th rowspan="3">eCPF</th>
                <th rowspan="3">Стоимость сообщения</th>
                <th rowspan="3">Количество сообщений</th>
                <th colspan="4" class="text-center">Пол</th>
                <th colspan="16" class="text-center">Возраст</th>
            </tr>
            <tr>
                <th colspan="2" class="text-center">Просмотры</th>
                <th colspan="2" class="text-center">Клики</th>
                <th colspan="8" class="text-center">Просмотры</th>
                <th colspan="8" class="text-center">Клики</th>
            </tr>
            <tr>
                <th>Мужской</th>
                <th>Женский</th>
                <th>Мужской</th>
                <th>Женский</th>
                <th class="nowrap">12-18</th>
                <th class="nowrap">18-21</th>
                <th class="nowrap">21-24</th>
                <th class="nowrap">24-27</th>
                <th class="nowrap">27-30</th>
                <th class="nowrap">30-35</th>
                <th class="nowrap">35-45</th>
                <th class="nowrap">45-100</th>
                <th class="nowrap">12-18</th>
                <th class="nowrap">18-21</th>
                <th class="nowrap">21-24</th>
                <th class="nowrap">24-27</th>
                <th class="nowrap">27-30</th>
                <th class="nowrap">30-35</th>
                <th class="nowrap">35-45</th>
                <th class="nowrap">45-100</th>
            </tr>
        </thead>
        <tbody>
            {% for index, stat in stats.iterrows() %}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td class="nowrap">{{ stat.account_id }} <span class="hint">{{ accounts[stat.account_id].account_name }}</span></td>
                    <td class="nowrap">{{ stat.client_id }} <span class="hint">{{ clients[stat.client_id].name }}</span></td>
                    <td class="nowrap">{{ stat.campaign_id }} <span class="hint">{{ campaigns[stat.campaign_id].name }}</span></td>
                    <td class="nowrap">{{ stat.id }} <span class="hint">{{ ads[stat.id].name }}</span></td>
                    <td class="nowrap">
                        <div class="ad-detail">
                            {% if posts[stat.id].image %}
                                <div class="image"><img src="{{ posts[stat.id].image or "" }}" alt=""></div>
                            {% endif %}
                            <div class="text">
                                {{ posts[stat.id].title or "" }}
                                <span class="hint">{{ posts[stat.id].text or "" }}</span>
                            </div>
                        </div>
                    </td>
                    <td class="nowrap font-monospace">{{ stat.date }}</td>
                    <td class="font-monospace text-right">{{ stat.spent }}</td>
                    <td class="font-monospace text-right">{{ stat.impressions }}</td>
                    <td class="font-monospace text-right">{{ stat.clicks }}</td>
                    <td class="font-monospace text-right">{{ stat.ctr }}</td>
                    <td class="font-monospace text-right">{{ stat.effective_cost_per_click }}</td>
                    <td class="font-monospace text-right">{{ stat.effective_cost_per_mille }}</td>
                    <td class="font-monospace text-right">{{ stat.effective_cpf }}</td>
                    <td class="font-monospace text-right">{{ stat.effective_cost_per_message }}</td>
                    <td class="font-monospace text-right">{{ stat.message_sends }}</td>
                    <td class="font-monospace text-right">{{ stat.sex__m__impressions_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.sex__f__impressions_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.sex__m__clicks_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.sex__f__clicks_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__12_18__impressions_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__18_21__impressions_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__21_24__impressions_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__24_27__impressions_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__27_30__impressions_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__30_35__impressions_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__35_45__impressions_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__45_100__impressions_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__12_18__clicks_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__18_21__clicks_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__21_24__clicks_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__24_27__clicks_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__27_30__clicks_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__30_35__clicks_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__35_45__clicks_rate }}</td>
                    <td class="font-monospace text-right">{{ stat.age__45_100__clicks_rate }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
