<div id="statistics">    
      <div class="spinner-grow spinner" style="width: 3rem; height: 3rem;" role="status" v-if="loading">
        <span class="visually-hidden">Загрузка...</span>
      </div>
    <div v-cloak>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="showArchive" v-model="showArchiveData">
            <label class="form-check-label" for="showArchive" style="display: inline;">Показать архивную часть таблицы</label>
        </div>
        <table>
            <thead>
                <tr>
                    {% for column in data.columns %}
                        {% if column not in extras.exclude_columns %}
                            <th class="sticky">{{ column }}</th>
                        {% endif %}
                    {% endfor %}
                    <th class="sticky nowrap" v-if="showArchiveData">Вероятность<br>покупки</th>
                    <th class="sticky nowrap" v-if="showArchiveData">Потенциальная<br>сумма<br>заказа</th>
                    <th class="sticky nowrap" v-if="showArchiveData">Ожидаемая<br>дата<br>оплаты</th>
                    <th class="sticky nowrap" v-if="showArchiveData">Оценочный<br>оборот</th>
                    <th class="sticky nowrap" v-if="showArchiveData">На<br>контроле</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="nowrap info" colspan="3">{{ total["name"] }}</td>
                    <td class="nowrap info font-monospace text-right">{{ format_int(total["lead"]) }}</td>
                    {% if data.columns.shape[0] != 11 %}<td class="nowrap info" v-for="_ in {{ data.columns.shape[0] - 51 }}"></td>{% endif %}
                    <td class="nowrap info" v-if="showArchiveData"></td>
                    <td class="nowrap info font-monospace text-right" v-if="showArchiveData">{{ format_int(total["potential_order_amount"]) }} ₽</td>
                    <td class="nowrap info" v-if="showArchiveData"></td>
                    <td class="nowrap info font-monospace text-right" v-if="showArchiveData">{{ format_int(total["estimate"]) }} ₽</td>
                    <td class="nowrap info" v-if="showArchiveData"></td>
                </tr>
                {% for index, item in data.iterrows() %}
                    <tr class="{% if item.inactive %}inactive{% endif %}{% if filters.hide_inactive_managers %} hidden{% endif %}" data-manager_id="{{ item["manager_id"] }}" data-lead="{{ item["Лид"] }}" data-date="{{ format_date(item["Дата зума"]) }}">
                        {% if item.is_group %}
                            <td class="nowrap info" colspan="4">{{ item[column] }}</td>
                        {% else %}
                            {% for column in data.columns %}
                                {% if column not in extras.exclude_columns %}
                                    {% if column == "Лид" %}
                                        <td class="nowrap"><a href="https://neuraluniversity.amocrm.ru/leads/detail/{{ item[column] }}" target="_blank">{{ item[column] }}</a></td>
                                    {% elif column == "Дата зума" %}
                                        <td class="nowrap font-monospace">{{ format_date(item[column]) }}</td>
                                    {% elif column == "Оплата" %}
                                        <td class="nowrap font-monospace text-right">{{ format_int(item[column]) }} ₽</td>
                                    {% elif column == "Качество Zoom" %}                                
                                        <td class="nowrap font-monospace text-right">
                                            <div class="circle" style="background-color: hwb({{ item[column]}} 0% 0%);"></div>
                                        </td>
                                    {% elif column == "Процент Качества Zoom" %}
                                            <td class="font-monospace text-center">{% if item[column] %}{{ item[column] }} %{% endif %}</td>
                                    {% elif column == "Ссылка на видео" %}
                                        <td class="nowrap font-monospace text-center">                                        
                                            {% if item.revealing or item.presentation or item.objections or item.materials or item.general_report %}
                                                <a class="btn btn-outline-primary" role="button" data-link="{{ item[column] }}" @click="get_link">Получить</a>
                                            {% endif %}
                                        </td>
                                    {% elif column == "Подробнее" %}
                                        <td class="nowrap">
                                            {% if item.revealing or item.presentation or item.objections or item.materials or item.general_report %}
                                                {% include 'zooms/json_detail.html' %}
                                            {% endif %}
                                        </td>
                                    {% elif (column == "Менеджер") %}
                                        <td class="nowrap">{{ item[column] }}</td>
                                    {% else %}
                                        <td class="nowrap font-monospace text-center">{{ item[column] }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <td class="nowrap font-monospace" v-if="showArchiveData">
                            <select class="controllable purchase-probability" data-name="purchase_probability" data-value="{{ item["purchase_probability"] }}">
                                <option value=""{% if item["purchase_probability"] == "" %} selected="selected"{% endif %}></option>
                                <option value="0"{% if item["purchase_probability"] == 0 %} selected="selected"{% endif %}>0</option>
                                <option value="10"{% if item["purchase_probability"] == 10 %} selected="selected"{% endif %}>10</option>
                                <option value="20"{% if item["purchase_probability"] == 20 %} selected="selected"{% endif %}>20</option>
                                <option value="30"{% if item["purchase_probability"] == 30 %} selected="selected"{% endif %}>30</option>
                                <option value="40"{% if item["purchase_probability"] == 40 %} selected="selected"{% endif %}>40</option>
                                <option value="50"{% if item["purchase_probability"] == 50 %} selected="selected"{% endif %}>50</option>
                                <option value="60"{% if item["purchase_probability"] == 60 %} selected="selected"{% endif %}>60</option>
                                <option value="70"{% if item["purchase_probability"] == 70 %} selected="selected"{% endif %}>70</option>
                                <option value="80"{% if item["purchase_probability"] == 80 %} selected="selected"{% endif %}>80</option>
                                <option value="90"{% if item["purchase_probability"] == 90 %} selected="selected"{% endif %}>90</option>
                                <option value="100"{% if item["purchase_probability"] == 100 %} selected="selected"{% endif %}>100</option>
                            </select> %
                        </td>
                        <td class="nowrap font-monospace" v-if="showArchiveData">
                            <input type="number" min="0" class="controllable potential-order-amount" value="{{ item["potential_order_amount"] }}" data-name="potential_order_amount" data-value="{{ item["potential_order_amount"] }}"> ₽
                        </td>
                        <td class="nowrap" v-if="showArchiveData">
                            <input type="date" class="controllable expected-payment-date" value="{{ item["expected_payment_date"] }}" data-name="expected_payment_date" data-value="{{ item["expected_payment_date"] }}"><span class="clear"></span>
                        </td>
                        <td  v-if="showArchiveData" class="nowrap font-monospace text-right estimate">{% if item["estimate"] != "" %}{{ format_int(item["estimate"]) }} ₽{% endif %}</td>
                        <td class="nowrap" v-if="showArchiveData">
                            <input type="checkbox" class="controllable on-control" data-name="on_control"{% if item["on_control"] == True %} checked="checked"{% endif %} data-value="{% if item["on_control"] == True %}1{% else %}0{% endif %}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>