<span  id="app">
<form action="{{ url_for('zooms') }}">
    <div class="filter-block">
        <div class="field">
            <label for="field-date_from">Дата зума с</label>
            <input type="date" name="date_from" id="field-date_from" value="{% if filters.date_from %}{{ filters.date_from }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-date_to">Дата зума по</label>
            <input type="date" name="date_to" id="field-date_to" value="{% if filters.date_to %}{{ filters.date_to }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-manager">Менеджер</label>
            <select name="manager" id="field-manager"{% if not extras.managers %} disabled="disabled"{% endif %} v-model="selectedManager">
                {% if extras.managers %}
                    <option value="__all__">-- Все --</option>
                    {% for option in extras.managers %}
                        <option value="{{ option.0 }}"{% if option.0 == filters.manager %} selected="selected"{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="field">
            <label for="field-group">Группа</label>
            <select name="group" id="field-group"{% if not extras.groups %} disabled="disabled"{% endif %}>
                {% if extras.groups %}
                    <option value="__all__">-- Все --</option>
                    {% for option in extras.groups %}
                        <option value="{{ option.0 }}"{% if option.0 == filters.group %} selected="selected"{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
    <div class="filter-block" style="margin-top:-.5rem">
        <div class="field month">
            {% for item in extras.month %}
                <span data-value="{{ item.0 }}">{{ item.1 }}</span>
            {% endfor %}
        </div>
        <div class="field" style="display:none">
            <label for="field-month">Месяц</label>
            <input type="month" id="field-month">
        </div>
    </div>
    <div class="filter-block">
        <div class="field">
            <label for="field-purchase_probability_from">Вероятность покупки с</label>
            <input type="number" name="purchase_probability_from" id="field-purchase_probability_from" value="{% if filters.purchase_probability_from %}{{ filters.purchase_probability_from }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-purchase_probability_to">Вероятность покупки по</label>
            <input type="number" name="purchase_probability_to" id="field-purchase_probability_to" value="{% if filters.purchase_probability_to %}{{ filters.purchase_probability_to }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-expected_payment_date_from">Ожидаемая дата оплаты с</label>
            <input type="date" name="expected_payment_date_from" id="field-expected_payment_date_from" value="{% if filters.expected_payment_date_from %}{{ filters.expected_payment_date_from }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-expected_payment_date_to">Ожидаемая дата оплаты по</label>
            <input type="date" name="expected_payment_date_to" id="field-expected_payment_date_to" value="{% if filters.expected_payment_date_to %}{{ filters.expected_payment_date_to }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-on_control">На контроле</label>
            <select name="on_control" id="field-on_control">
                <option value="__all__"{% if filters.on_control is none %} selected="selected"{% endif %}>-- Все --</option>
                <option value="0"{% if filters.on_control is false %} selected="selected"{% endif %}>Нет</option>
                <option value="1"{% if filters.on_control is true %} selected="selected"{% endif %}>Да</option>
            </select>
        </div>
    </div>
    <div class="filter-actions" >
        <span style="padding-right: 3px;"><button class="btn btn-primary">Обновить</button></span>
        <span style="padding-right: 3px;"><button type="reset" class="btn btn-success btn-reset">Сбросить фильтр</button></span>
        <span style="padding-right: 2px;"><button type="button" class="btn btn-warning excel-download">Скачать Excel</button></span>
        <span style="padding-left: 3px;" v-cloak>
            <span v-if="zoomOn">               
                <span id="app" style="padding-left: 0px;">
                <button v-if="isLoading" class="btn btn-info" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only"> Загрузка...</span>
                </button>
                <button
                    v-else
                    type="button" 
                    class="btn btn-info" 
                    @click="upload_zoom">
                    Загрузить Zoom</button>
                    <span style="padding-left: 15px;" v-if="selectedManager">[[ last_uploaded_zoom ]]</span>              
                </span>
            </span>            
        </span>    
    </div>
</form>
</span>