{% extends 'base.html' %}
{% block title %} Авторизация {% endblock %}
{% block content %}

<div class="card p-2">
    <form action='login' method='post'>
        <div class="m-2">
            <p>Страны</p>
            {% for country in countries %} 
            <div class="p-1"><input type='checkbox' name='countries' value="{{ country }}"><span class="m-1">{{ country }}</span></div>
            {% endfor %}
        </div>
        <div class="m-2">
            <p>Возрасты</p>
            {% for age in ages %} 
            <div class="p-1"><input type='checkbox' name='ages' value="{{ age }}"><span class="m-1">{{ age }}</span></div>
            {% endfor %}
        </div>
        <div class="m-2">
            <p>Работы</p>
            {% for job in jobs %} 
            <div class="p-1"><input type='checkbox' name='jobs' value="{{ job }}"><span class="m-1">{{ job }}</span></div>
            {% endfor %}
        </div>
        <div class="m-2">
            <p>Заработки</p>
            {% for earning in earnings %} 
            <div class="p-1"><input type='checkbox' name='earnings' value="{{ earning }}"><span class="m-1">{{ earning }}</span></div>
            {% endfor %}
        </div>
        <div class="m-2">
            <p>Trainings</p>
            {% for training in trainings %} 
            <div class="p-1"><input type='checkbox' name='trainings' value="{{ training }}"><span class="m-1">{{ training }}</span></div>
            {% endfor %}
        </div>
        <div class="m-2">
            <p>Times</p>
            {% for time in times %} 
            <div class="p-1"><input type='checkbox' name='times' value="{{ time }}"><span class="m-1">{{ time }}</span></div>
            {% endfor %}
        </div>
        <div class="m-2"></div>
        <div class="m-2"><button class="btn btn-success">Добавить</button></div>
    </form>
</div>

{% endblock %}