{% extends 'base.html' %}
{% block title %} Авторизация {% endblock %}
{% block content %}

<div class="card p-2">
    <form action='login' method='post'>
        {% if error %}
            <div class="m-2"><p style="color: red">{{ error }}</p></div>
        {% endif %}
        <div class="m-2"><input class="form-control" name='login' placeholder="Логин"></div>
        <div class="m-2"><input class="form-control" name='password' type='password' placeholder="Пароль"></div>
        <div class="m-2"><button class="btn btn-success">Войти</button></div>
    </form>
</div>

{% endblock %}