{% extends 'base.html' %}
{% block title %} Авторизация {% endblock %}
{% block content %}

<div class="card p-2">
    <div><a href="/" class="btn btn-success">В меню</a></div>
    <form action='/target_audience/add' method='post'>
        <div class="m-2">
            <h1>{{ title }}</h1>
        </div>
        <div class="m-2">
            <p>Страны</p>
            <ol>
                {% for country in countries %} 
                    <li>{{ country }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="m-2">
            <p>Возрасты</p>
            <ol>
                {% for age in ages %} 
                    <li>{{ age }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="m-2">
            <p>Работы</p>
            <ol>
                {% for job in jobs %} 
                    <li>{{ job }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="m-2">
            <p>Заработки</p>
            <ol>
                {% for earning in earnings %} 
                    <li>{{ earning }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="m-2">
            <p>Trainings</p>
            <ol>
                {% for training in trainings %} 
                    <li>{{ training }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="m-2">
            <p>Times</p>
            <ol>
                {% for time in times %} 
                    <li>{{ time }}</li>
                {% endfor %}
            </ol>
        </div>
    </form>
</div>

{% endblock %}