<a href="/" class="btn btn-success">В меню</a>
<a href="{{ url_for('intensives') }}" class="btn btn-success">Интенсивы</a>
<a href="{{ url_for('promo') }}" class="btn btn-success">Акции</a>
<a href="{{ url_for('intensives_registration') }}" class="btn btn-success">Сделки с регистраций на интенсивы</a>
<a href="{{ url_for('intensives_preorder') }}" class="btn btn-success">Сделки с предзаказов на интенсивах</a>
<a href="{{ url_for('intensives_funnel_channel') }}" class="btn btn-success">Оборот по воронке и каналу трафика</a>