<form action="{{ url_for('intensives') }}">
    <div class="filter-block">
        <div class="field">
            <label for="field-date_from">Дата интенсива с</label>
            <input type="date" name="date_from" id="field-date_from" value="{% if filters.date_from %}{{ filters.date_from }}{% endif %}">
        </div>
        <div class="field">
            <label for="field-date_to">Дата интенсива по</label>
            <input type="date" name="date_to" id="field-date_to" value="{% if filters.date_to %}{{ filters.date_to }}{% endif %}">
        </div>
    </div>
    <div class="filter-actions">
        <button class="btn btn-primary">Обновить</button>
        <button type="reset" class="btn btn-success btn-reset">Сбросить фильтр</button>
    </div>
</form>
