<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оборот по мероприятиям</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker@3.1/daterangepicker.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1/daterangepicker.min.js"></script>

</head>
<style>
    input.form-control {
        max-width: 150px;
        padding: 8px;
    }

<!--    .custom-btn {-->
<!--        margin-top: 10px;-->
<!--    }-->

    .menu-container {
        margin-left: 10px;
    }

    .form-row {
        margin-bottom: 10px;
        margin-left: 10px;
        display: flex;
        align-items: center;
    }

    .form-group {
        margin-right: 10px;
    }

    .form-group:last-child {
        margin-right: 0;
    }

    .form-group label {
        flex-shrink: 0;
        margin-right: 5px;
    }

    .form-group input {
        max-width: 150px;
        padding: 0px;
    }


</style>
<body>
<h1 align="center">Оборот по мероприятиям</h1>
<div class="menu-container">
    <a href="https://analytic.neural-university.ru/" class="btn btn-info">В меню</a>
</div>

<hr>
<div class="form-container">
    <form action="{{ url_for('intensives_events') }}" method="post">
        <div class="form-row">

            <div class="form-group">
                <b>Мероприятия: </b>
                <input type="date" id="start_date" name="start_date" title="Дата начала" required>
            </div>
            <div class="form-group">
                <input type="date" id="end_date" name="end_date" title="Дата окончания" required>
            </div>

            <!-- МЕРОПРИЯТИЯ -->
            <div class="form-group">

                <label><input type="checkbox" name="checkbox_event" value="Все"> Все</label>
            </div>
            <div class="form-group">

                <label><input type="checkbox" name="checkbox_event" value="Интенсив 2 дня"> Интенсив 2 дня</label>
            </div>
            <div class="form-group">

                <label><input type="checkbox" name="checkbox_event" value="Интенсив 3 дня"> Интенсив 3 дня</label>
            </div>
            <div class="form-group">

                <label><input type="checkbox" name="checkbox_event" value="Интенсив chatGPT"> Интенсив chatGPT</label>
            </div>
            <div class="form-group">

                <label><input type="checkbox" name="checkbox_event" value="Вебинары"> Вебинары</label>
            </div>
            <div class="form-group">

                <label><input type="checkbox" name="checkbox_event" value="Мини-урок"> Мини-урок</label>
            </div>
            <div class="form-group">

                <label><input type="checkbox" name="checkbox_event" value="Акции"> Акции</label>
            </div>
        </div>
        <div class="form-row">
            <!-- ОПЛАТЫ -->
            <div class="form-group">
                <b>Оплаты:</b>
                <label><input type="checkbox" name="checkbox_value" value="1week"> 1 неделя</label>
            </div>
            <div class="form-group">

                <label><input type="checkbox" name="checkbox_value" value="2week"> 2 недели</label>
            </div>
            <div class="form-group">

                <label><input type="checkbox" name="checkbox_value" value="4week"> 4 недели</label>
            </div>
            <div class="form-group">

                <label><input type="checkbox" name="checkbox_value" value="8week"> 8 недель</label>
            </div>

            <!-- КНОПКИ -->
            <div class="form-group">
                <input type="hidden" id="custom_period" name="custom_period" readonly>
                <button class="btn btn-outline-secondary" type="button" id="custom_period_btn">Свой период
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-warning " type="button" id="reset_filters_btn">Сбросить фильтры</button>
            </div>
            <div class="form-group">
                <button type="submit" name="get_data" class="btn btn-info custom-btn">Получить данные</button>
            </div>
        </div>
    </form>
</div>
<hr>

{{ table | safe }}

<script>
    $(document).ready(function() {
        $('#custom_period_btn').click(function() {
            $('#custom_period').daterangepicker({
                opens: 'left',
                locale: {
                    format: 'YYYY-MM-DD',
                    applyLabel: 'Применить',
                    cancelLabel: 'Отмена',
                    fromLabel: 'С',
                    toLabel: 'По',
                    customRangeLabel: 'Свой период',
                }
            });
            $('#custom_period').data('daterangepicker').toggle();
        });
    });
</script>

<!-- Скрипт для сохранения или сброса выбранных фильтров -->
<script>
    $(document).ready(function() {
        $('#custom_period_btn').click(function() {
            $('#custom_period').daterangepicker({
                opens: 'left',
                locale: {
                    format: 'YYYY-MM-DD',
                    applyLabel: 'Применить',
                    cancelLabel: 'Отмена',
                    fromLabel: 'С',
                    toLabel: 'По',
                    customRangeLabel: 'Свой период',
                }
            });
            $('#custom_period').data('daterangepicker').toggle();
        });

        // Восстановление значений фильтров при загрузке страницы
        const start_date = localStorage.getItem('start_date') || '';
        const end_date = localStorage.getItem('end_date') || '';

        $('#start_date').val(start_date);
        $('#end_date').val(end_date);

        const savedCheckboxes = localStorage.getItem('checkbox_value') ? localStorage.getItem('checkbox_value').split(',') : [];

        savedCheckboxes.forEach(value => {
            $('input[name="checkbox_value"][value="' + value + '"]').prop('checked', true);
        });

        const savedEventCheckboxes = localStorage.getItem('checkbox_event') ? localStorage.getItem('checkbox_event').split(',') : [];

        savedEventCheckboxes.forEach(value => {
            $('input[name="checkbox_event"][value="' + value + '"]').prop('checked', true);
        });

        $('#custom_period_btn').click(function() {
            $('#custom_period').daterangepicker({
                opens: 'left',
                locale: {
                    format: 'YYYY-MM-DD',
                    applyLabel: 'Применить',
                    cancelLabel: 'Отмена',
                    fromLabel: 'С',
                    toLabel: 'По',
                    customRangeLabel: 'Свой период',
                }
            });
            $('#custom_period').data('daterangepicker').toggle();
        });

        $('input[name="start_date"]').on('change', function() {
            localStorage.setItem('start_date', $(this).val());
        });

        $('input[name="end_date"]').on('change', function() {
            localStorage.setItem('end_date', $(this).val());
        });

        $('input[name="checkbox_value"]').on('change', function() {
            const selectedCheckboxes = [];
            $('input[name="checkbox_value"]:checked').each(function() {
                selectedCheckboxes.push($(this).val());
            });
            localStorage.setItem('checkbox_value', selectedCheckboxes.join(','));
        });

        $('input[name="checkbox_event"]').on('change', function() {
            const selectedEventCheckboxes = [];
            $('input[name="checkbox_event"]:checked').each(function() {
                selectedEventCheckboxes.push($(this).val());
            });
            localStorage.setItem('checkbox_event', selectedEventCheckboxes.join(','));
        });

        $('#reset_filters_btn').click(function() {
            localStorage.removeItem('start_date');
            localStorage.removeItem('end_date');
            localStorage.removeItem('checkbox_event');
            localStorage.removeItem('checkbox_value');

            $('#start_date').val('');
            $('#end_date').val('');
            $('input[name="checkbox_event"]').prop('checked', false);
            $('input[name="checkbox_value"]').prop('checked', false);
        });
    });
</script>
</body>
</html>