{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% include 'base_links.html' %}
    <form action="{{ url_for('channels') }}">
        {% include 'channels/filters.html' %}
        {% if data %}
            <div id="gantt-channels">
                <div class="gantt">
                    <div class="wrapper"></div>
                </div>
            </div>
        {% else %}
            Данные отсутствуют
        {% endif %}
    </form>
{% endblock %}

{% block js %}
<script type="text/javascript">window.AnalyticsChannels={date_range:[new Date({{ date_range[0] }}), new Date({{ date_range[1] }})],data:[{% for group in data %}{"name":"{{ group.name }}","dates":[{% for date in group.dates %}new Date({{ date }}),{% endfor %}]},{% endfor %}]}</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/channels.js') }}"></script>
{% endblock js %}

{% block css %}
<link href="{{ url_for('static', filename='css/channels.css') }}" rel="stylesheet" />
{% endblock css %}
