{% macro last_updated(name) -%}
    {% if redis_db.hget(name, 'status') %}
        {% if redis_db.hget(name, 'status').decode('utf-8') == 'ok' %}
            <div class="alert alert-success">
                <p>Последнее обновление: {{ redis_db.hget(name, 'last_updated').decode('utf-8') }}</p>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <p>Последнее обновление: {{ redis_db.hget(name, 'message').decode('utf-8') }}</p>
            </div>
        {% endif %}
    {% endif %}
{%- endmacro %}