{% macro wide_table(tables, skip=1) -%}
    <style>
        .col-disabled {
            display: none;
        }
    </style>

    <!-- <div>
        <button id="selectAll" class="btn btn-primary">Выбрать все столбцы</button>
        <button id="resetAll" class="btn btn-primary">Убрать все столбцы</button>
    </div>
    <div>
        {% for column in (tables.values()|first).columns[skip:] %}
            <button class="btn btn-success m-1 column-disable column-{{ loop.index }}">{{ column }}</button>
        {% endfor %}
    </div> -->
    {% for header, table in tables.items() %}
        <h1>{{ header }}</h1>
        {{ table.to_html() |safe }}
    {% endfor %}
    <!-- <script>
        let button;
        {% for column in (tables.values()|first).columns[skip:] %}
        button = document.querySelector('.column-{{ loop.index }}');
        button.addEventListener('click', function(event) {
            column = '{{ column }}'
            let button = event.target;

            let table = document.querySelector('table');
            let columns = Array.from(table.querySelectorAll('thead tr th')).map((e) => e.innerText);
            let columnIndex = columns.indexOf(column);
            let elements = document.querySelectorAll('table tr :nth-child(' + (columnIndex + 1) + ')');
            for (element of elements) {
                element.classList.toggle('col-disabled');
            }
            button.classList.toggle('btn-warning');
            button.classList.toggle('btn-success');
        });
        {% endfor %}

        let buttons = document.querySelectorAll('button.column-disable');
        for (let i = 5; i < buttons.length; i++) {
            buttons[i].dispatchEvent(new Event('click'));
        }

        button = document.getElementById("selectAll");
        button.addEventListener('click', function(event) {
            let buttons = document.querySelectorAll('button.column-disable.btn-warning');
            for (let button of buttons) {
                button.dispatchEvent(new Event('click'));
            }
        })

        button = document.getElementById("resetAll");
        button.addEventListener('click', function(event) {
            let buttons = document.querySelectorAll('button.column-disable.btn-success');
            for (let button of buttons) {
                button.dispatchEvent(new Event('click'));
            }
        })
    </script> -->
{%- endmacro %}

{% macro tabs(tables, macro, tab) -%}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for header, _ in tables.items() %}
            <li class="nav-item" role="presentation">
                <button class="tab-button nav-link {{'active' if loop.index == 1 and tab is none or tab|int == loop.index else ''}}" id="turnover-{{loop.index}}-tab}}" data-bs-toggle="tab" data-bs-target="#turnover-{{loop.index}}" type='button' role='tab' aria-controls="turnover-{{loop.index}}" aria-selected="{{'true' if loop.index == 1 and tab is none or tab|int == loop.index else 'false'}}">{{ header }}</button>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content" id="myTabContent">
        {% for header, row in tables.items() %}
            {{ macro(header, row, loop) }}
        {% endfor %}
    </div>

    <script>
        function onTabChange(num) {
            return function(event) {
                let element = document.querySelector('#tab');
                element.setAttribute('value', num);
            }
        }
        for (const [i, element] of document.querySelectorAll('.tab-button').entries()) {
            element.addEventListener('click', onTabChange(i + 1));
        }

        let resetFilterButton = document.querySelector('#resetFilterButton');
        resetFilterButton.addEventListener('click', function(event) {
            event.preventDefault();
            let button = event.target;
            let form = button.closest('form');
            let start_date = form.querySelector('[name=date_start]');
            let end_date = form.querySelector('[name=date_end]');
            start_date.value="";
            end_date.value="";
            form.submit();
        })

    </script>
{%- endmacro %}