<div id="statistics">
    <table>
        <thead>
            <tr>
                {% for column in data.columns %}
                    {% if column not in extras.exclude_columns %}
                        <th class="sticky nowrap">{{ column }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, item in data.iterrows() %}
                <tr class="{% if item.inactive %}inactive{% endif %}{% if filters.hide_inactive_managers %} hidden{% endif %}">
                    {% for column in data.columns %}
                        {% if column not in extras.exclude_columns %}
                            {% if column == "Менеджер/Группа" %}
                                <td class="nowrap{% if item.is_group %} info{% endif %}{% if item.is_total %} warning{% endif %}">{{ item[column] }}</td>
                            {% else %}
                                <td class="nowrap font-monospace{% if item.is_group %} info{% endif %}{% if item.is_total %} warning{% endif %} text-right">{% if column in ["Конверсия Zoom", "Конверсия SO"] %}{{ format_float1(item[column]) }}{% elif column in ["Количество Zoom"] and not item.is_group and not item.is_total and item[column] > 0 %}<a href="{{ url_for('zooms') }}?manager={{ item["manager_id"] }}&date_from={% if filters.value_date_from is not none %}{{ format_date(filters.value_date_from) }}{% endif %}&date_to={% if filters.value_date_to is not none %}{{ format_date(filters.value_date_to) }}{% endif %}" target="_blank">{{ format_int(item[column]) }}</a>{% else %}{{ format_int(item[column]) }}{% endif %}{% if column in ["Оборот от Zoom", "Оборот на Zoom", "Средний чек Zoom", "Оборот от SO", "Оборот на SO", "Средний чек SO"] %} ₽{% endif %}{% if column in ["Конверсия Zoom", "Конверсия SO"] %} %{% endif %}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
