{% extends 'base.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/group1/channels/index.css') }}" rel="stylesheet">
{% endblock css %}

{% block js %}
    {% if data %}
        <script type="text/javascript">window.AnalyticsChannels={date_range:[new Date({{ date_range[0] }}), new Date({{ date_range[1] }})],data:[{% for group in data %}{"name":"{{ group.name }}","dates":[{% for date in group.dates %}new Date({{ date }}),{% endfor %}]},{% endfor %}]}</script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/group1/channels/index.js') }}"></script>
    {% endif %}
{% endblock js %}

{% block content %}
    {% include 'base-links.html' %}
    <div class="card p-3">
        {{ form.render() }}
    </div>
    {% if data %}
        <div id="gantt-channels">
            <div class="gantt">
                <div class="wrapper"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}
