table  { border-collapse:collapse; overflow-x:auto; }
tr {
    border-color:#d8e2e9;
}
th, td { padding:8px 16px; }
th     { background:#eee; }
td, th {
    border:1px solid #d8e2e9;
    font-size:.875rem;
}
table tr.details {
    background:#d4edff !important;
}
table tr:hover {
    background: #ecf3f8;
}
table th {
    color:#fff;
    background:#6c757d;
    user-select:none;
}
table td.nowrap,
table th.nowrap {
    white-space:nowrap;
}
table td.sticky,
table th.sticky {
    position:sticky;
    top:-1px;
    z-index:1;
}
table td span.hint,
table th span.hint {
    display:block;
    color:#999;
    font-size:.75rem;
}
table td.font-monospace,
table th.font-monospace {
    font-family:monospace !important;
}
table td.text-right,
table th.text-right {
    text-align:right;
}
table td.text-center,
table th.text-center {
    text-align:center;
}
table td.colored,
table td.colored > a {
    font-weight:bold !important;
    border-color:inherit !important;
}
table td.high,
table td.high > a {
    color:#4caf50 !important;
    background:rgba(76,175,80,.1) !important;
}
table td.middle,
table td.middle > a {
    color:#ff9800 !important;
    background:rgba(255,152,0,.1) !important;
}
table td.low,
table td.low > a {
    color:#f44336 !important;
    background:rgba(244,67,54,.1) !important;
}
table td.suppose,
table td.suppose > a {
    color:#4caf50 !important;
}
table td.pending,
table td.pending > a {
    color:#ff9800 !important;
}
table td.disable,
table td.disable > a {
    color:#f44336 !important;
}
table.statistics th,
table.statistics td {
    padding:5px 10px;
    font-size:.875rem;
}
table.statistics th {
    position:sticky;
    top:0;
    z-index:2;
}
table.statistics > thead > tr:nth-child(1) > th {
    top:0;
}
table.statistics > thead > tr:nth-child(2) > th {
    top:32px;
}
table.statistics > thead > tr:nth-child(3) > th {
    top:64px;
}
table.statistics .ad-detail {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-box-pack:start;
    -moz-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start;
    -webkit-box-align:start;
    -moz-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
}
table.statistics .ad-detail > .image {
    padding:0 5px 0 0;
}
table.statistics .ad-detail > .image > img {
    width:70px;
}

label {
    display:block;
    line-height:1;
    margin:0 0 5px 0;
    font-weight:bold;
    font-size:.875rem;
    white-space:nowrap;
}

.base-links,
.filter-block,
.filter-actions,
.base-filters {
    margin-bottom:1rem;
}

.filter-block {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-box-pack:start;
    -moz-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start;
    -webkit-box-align:start;
    -moz-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
    gap:10px;
}
.filter-block > .field > label {
    display:block;
    font-weight:bold;
}
.filter-block > .field > input[type=date],
.filter-block > .field > input[type=text],
.filter-block > .field > select {
    width:200px;
    height:30px;
}
.filter-block > .field.field-checkbox {
    margin-top:19px;
}
.filter-block > .field.field-checkbox > input {
    width:30px;
    height:30px;
    float:left;
    cursor:pointer;
}
.filter-block > .field.field-checkbox > label {
    float:left;
    margin:0;
    padding:0 0 0 5px;
    line-height:30px;
    cursor:pointer;
}
.filter-block > .field.field-checkbox:after {
    display:block;
    content:'';
    clear:both;
}
#statistics-extra,
#statistics-leads {
    margin-top:1rem;
}