table  { border-collapse: collapse; width: 100%; overflow-x: auto;}
th, td { padding: 8px 16px; }
th     { background:#eee; }
td, th {
    border: 1px solid;
}
table tr:hover {
    background:#eee;
}
table td.nowrap,
table th.nowrap {
    white-space:nowrap;
}
table td > span.hint,
table th > span.hint {
    display:block;
    color:#999;
    font-size:.75rem;
}
table td.font-monospace,
table th.font-monospace {
    font-family:monospace !important;
}
table td.text-right,
table th.text-right {
    text-align:right;
}

label {
    display:block;
    line-height:1;
    margin:0 0 5px 0;
    font-weight:bold;
    font-size:.875rem;
    white-space:nowrap;
}

.base-links,
.filter-block,
.base-filters {
    margin-bottom:.5rem;
}

.filter-block {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-box-pack:start;
    -moz-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start;
    -webkit-box-align:start;
    -moz-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
    gap:10px;
}
.filter-block > .field > label {
    display:block;
    font-weight:bold;
}
.filter-block > .field > input[type=date],
.filter-block > .field > input[type=text],
.filter-block > .field > select {
    min-width:150px;
    height:30px;
}

.base-filters > form {
}
