table > tbody > tr > td.colored {
    font-weight:bold !important;
    border-color:inherit !important;
}
table > tbody > tr > td.high {
    color:#4caf50 !important;
    background:rgba(76,175,80,.1) !important;
}
table > tbody > tr > td.middle {
    color:#ff9800 !important;
    background:rgba(255,152,0,.1) !important;
}
table > tbody > tr > td.low {
    color:#f44336 !important;
    background:rgba(244,67,54,.1) !important;
}
table > tbody > tr > td.suppose {
    color:#4caf50 !important;
}
table > tbody > tr > td.pending {
    color:#ff9800 !important;
}
table > tbody > tr > td.disable {
    color:#f44336 !important;
}