#gantt-channels {
    padding:0 0 30px 0;
}
#gantt-channels > .items {
    margin:0 20px 0 0;
}
#gantt-channels > .items > ul {
    display:block;
    margin:0;
    padding:0;
    list-style:none;
}
#gantt-channels > .items > ul > li {
    display:block;
    line-height:1;
    margin:0;
    padding:0;
    position:relative;
}
#gantt-channels > .items > ul > li:not(:last-child) {
    margin:0 0 5px 0;
}
#gantt-channels > .items > ul > li > input {
    position:absolute;
    top:-9999999999px;
    left:-9999999999px;
    visibility:hidden;
}
#gantt-channels > .items > ul > li > label {
    display:inline-block;
    line-height:1;
    position:relative;
    padding:2px 0 0 20px;
    font-size:.75rem;
    cursor:pointer;
    white-space:nowrap;
    user-select:none;
}
#gantt-channels > .items > ul > li > label:before {
    display:block;
    content:'';
    width:12px;
    height:12px;
    position:absolute;
    left:1px;
    top:1px;
    border:2px solid #fff;
    border-radius:2px;
    -webkit-box-shadow:0 0 0 1px rgba(33, 37, 41, 1);
    -moz-box-shadow:0 0 0 1px rgba(33, 37, 41, 1);
    box-shadow:0 0 0 1px rgba(33, 37, 41, 1);
}
#gantt-channels > .items > ul > li > input:checked + label:before {
    background:#212529;
}
label[for=channel-item-all] {
    font-weight:bold;
}
#gantt-channels > .gantt > .wrapper {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-box-pack:start;
    -moz-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start;
    -webkit-box-align:start;
    -moz-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
    user-select:none;
}
#gantt-channels > .gantt > .wrapper > .axis-y {
    margin-top:38px;
    border-bottom:1px solid #ccc;
}
#gantt-channels > .gantt > .wrapper > .axis-y > .item {
    line-height:20px;
    padding:0 5px 0 0;
    text-align:right;
    font-size:.75rem;
    white-space:nowrap;
    border-top:1px solid #eee;
}
#gantt-channels > .gantt > .wrapper > .axis-y > .item:first-child {
    border-color:#ccc;
}
#gantt-channels > .gantt > .wrapper > .board {
    overflow:hidden;
    overflow-x:scroll;
    white-space:nowrap;
    border-left:1px solid #ccc;
    -webkit-box-ordinal-group:1;
    -moz-box-ordinal-group:1;
    -webkit-order:0;
    -ms-flex-order:0;
    order:0;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    -webkit-align-self:auto
}
#gantt-channels > .gantt > .wrapper > .board > .wrapper {
    width:fit-content;
}
#gantt-channels > .gantt > .wrapper > .board > .wrapper > .gantt > .item {
    height:21px;
    border-bottom:1px solid #eee;
    padding:1px;
}
#gantt-channels > .gantt > .wrapper > .board > .wrapper > .gantt > .item:last-child {
    border-color:#ccc;
}
#gantt-channels > .gantt > .wrapper > .board > .wrapper > .gantt > .item > .wrapper {
    height:18px;
    white-space:nowrap;
}
#gantt-channels > .gantt > .wrapper > .board > .wrapper > .gantt > .item > .wrapper > .day {
    display:inline-block;
    width:18px;
    height:18px;
    line-height:18px;
}
#gantt-channels > .gantt > .wrapper > .board > .wrapper > .gantt > .item > .wrapper > .day.colored {
    background:#198754;
}
#gantt-channels > .gantt > .wrapper > .board > .wrapper > .gantt > .item.axis-x {
    width:auto;
    height:auto;
    border-bottom:1px solid #ccc;
}
#gantt-channels > .gantt > .wrapper > .board > .wrapper > .gantt > .item.axis-x > .wrapper {
    width:auto;
    height:auto;
    line-height:1;
}
#gantt-channels > .gantt > .wrapper > .board > .wrapper > .gantt > .item.axis-x > .wrapper > .day {
    font-size:.625rem;
    text-align:center;
    vertical-align:top;
}
#gantt-channels > .gantt > .wrapper > .board > .wrapper > .gantt > .item.axis-x > .wrapper.month > .day {
    padding-left:5px;
    font-size:.75rem;
}
