<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    {% block css %}{% endblock css %}
    <style>
        [v-cloak] {
          display: none;
        }
        .circle {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-left: 40%;
          margin-right: 40%;
        }
        .spinner {
          position: absolute;
          top: 1%;
          left: 99%;
        }        
      </style>
</head>

<body>
    <div id="content" class="p-5 w-100">
        {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly-2.3.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/table.ordering.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/clipboard.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block js %}{% endblock js %}
</body>
</html>
