{% from 'macros/buttons.html' import reset_button %}
{% from 'macros/tables.html' import wide_table %}
{% from 'macros/last_updated.html' import last_updated %}

{% extends 'base.html' %}

{% block title %}Источники - сводная таблица{% endblock %}

{% block content %}
<style>
    table thead th { position: sticky; top: 0; z-index: 1; }
</style>

<div class='d-flex flex-column'>
    {% if error %}
        <h1 style="color: red">{{ error }}</h1>
    {% else %}
        <h1>Источники - сводная таблица</h1>
    {% endif %}

    {% include 'base_links.html' %}

    <form method='get' id='filters' action='/channels_summary'>
        <div class="filter-block">
            <div class="field">
                <label for="date_start">С даты</label>
                <input type='date' name='date_start' id='date_start' value="{{ date_start }}" placeholder="date start">
            </div>
            <div class="field">
                <label for="date_end">По дату</label>
                <input type='date' name='date_end' id='date_end' value="{{ date_end }}" placeholder="date end">
            </div>
            <div class="field">
                <label for="utm_source">UTM source</label>
                <input name='utm_source' id='utm_source' value="{{ filter_data['utms']['utm_source'] }}" class="utm-values">
            </div>
            <div class="field">
                <label for="source">Кабинет (label)</label>
                <select name='source' id='source' class="utms">
                    {% for el in filter_data['unique_sources'] %}
                    {% if el==filter_data['utms']['source'] %}
                        <option value="{{ el }}" selected="selected">{{ el }}</option>
                    {% else %}
                        <option value="{{ el }}">{{ el }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label for="utm_2">Группировать по</label>
                <select name='utm_2' id='utm_2' class="utms">
                    {% for el in utms2 %}
                    {% if el==filter_data['utms']['utm_2'] %}
                        <option value="{{ el }}" selected="selected">{{ el }}</option>
                    {% else %}
                        <option value="{{ el }}">{{ el }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="field field-checkbox">
                <input type='checkbox' name='only_ru' id='only_ru'{% if only_ru %} checked="checked"{% endif %}>
                <label for="only_ru">Только Россия</label>
            </div>
        </div>
        <div class="filter-actions">
            <button class="btn btn-primary" id="btn-update">Обновить</button>
            {{ reset_button() }}
        </div>

        {% if not error %}
            <br><table>
                <tr>
                    <td style="background-color:#eeeeee"></td>
                    {% for col in tables['Источники - сводная таблица'].columns %}
                        <td style="font-weight: bold; background-color:#eeeeee">
                            <form method='get' action="/channels_summary">
                               <input type="submit" name="sort" value="{{ col }}" />
                            </form>
                        </td>
                    {% endfor %}
                    <td style="background-color:#eeeeee"></td>
                </tr>
                {% for i, row in enumerate(tables['Источники - сводная таблица'].values) %}

                {% if row[0] == utm_2_value %}
                    <tr>
                        <td style="font-weight: bold; background-color:#AFEEEE"> {{ i }} </td>
                        {% for col in row %}
                            {% if loop.index0 == 0 %}
                                <td class="colored {{ row.12.1 }}" style="font-weight: bold; background-color:#AFEEEE"> {{ col }} </td>
                            {% else %}
                                <td{% if is_tuple(col) %} class="colored {{ col.1 }}"{% endif %} style="font-weight: bold; background-color:#AFEEEE"> {% if is_tuple(col) %}{{ col.0 }}{% else %}{{ col }}{% endif %} </td>
                            {% endif %}
                        {% endfor %}
                        <td style="font-weight: bold; background-color:#AFEEEE">
                           <input type="submit" name="channel" value="+ {{row[0]}}" />
                        </td>
                    </tr>
                {% else %}
                {% if i == 0 %}
                    <tr>
                        <td style="font-weight: bold; background-color:#eeeeee"> {{ i }} </td>
                        {% for col in row %}
                        <td> {{ col }} </td>
                        {% endfor %}
                        <td>
                           <input type="submit" name="channel" value="+ все лиды" />
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td style="font-weight: bold; background-color:#eeeeee"> {{ i }} </td>
                        {% for col in row %}
                            {% if loop.index0 == 0 %}
                                <td class="colored {{ row.12.1 }}"> {{ col }} </td>
                            {% else %}
                                <td{% if is_tuple(col) %} class="colored {{ col.1 }}"{% endif %}> {% if is_tuple(col) %}{{ col.0 }}{% else %}{{ col }}{% endif %} </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                           <input type="submit" name="channel" value="+ {{row[0]}}" />
                        </td>
                    </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
            </table>
            <div class="m-2 w-100 justify-content-center">
                <form method='get' action='/getPlotCSV'>
                    <input type="hidden" name="value" value="channels_summary, Источники - сводная таблица"/>
                    <button class="btn btn-primary">Скачать отчет в csv</button>
                </form>
            </div>
        {% endif %}
    </form>
</div>

{% if additional_df != '' %}
{{ wide_table(additional_df)}}
{% endif %}

{% if channels_summary_detailed_df != '' %}
{{ wide_table(channels_summary_detailed_df)}}
{% endif %}

{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/channels_summary.css') }}" rel="stylesheet">
{% endblock css %}
