{% from 'macros/buttons.html' import reset_button %}
{% from 'macros/tables.html' import wide_table %}
{% from 'macros/last_updated.html' import last_updated %}

{% extends 'base.html' %}
{% block title %}Источники - сводная таблица{% endblock %}
{% block content %}
<style>
    table thead th { position: sticky; top: 0; z-index: 1; }
</style>

<div>{{ utm }} - {{ utm_value }}</div>
<div class='d-flex flex-column'>
    {% if error %}
        <h1 style="color: red">{{ error }}</h1>
        <div><a href="/" class="btn btn-success">В меню</a></div>
        <form method='get' action='/channels_summary'>
            <input type='date' name='date_start' value="{{ date_start }}" placeholder="date start">
            <input type='date' name='date_end' value="{{ date_end }}" placeholder="date end">
            <button class="btn btn-primary">Обновить</button>
            {{ reset_button() }}
        </form>
    {% else %}
        <h1>Источники - сводная таблица</h1>
        <div><a href="/" class="btn btn-success">В меню</a></div>
        <form method='get' id='filters' action='/channels_summary'>
            <input type='date' name='date_start' value="{{ date_start }}" placeholder="date start">
            <input type='date' name='date_end' value="{{ date_end}}" placeholder="date end">
            <br>

            <div class="filter-some" id="some-0">
                <select name='utm_1' class="utms">
                    {% for el in utms %}
                        <option value="{{ el }}">{{ el }}</option>
                    {% endfor %}
                </select>
                <input name='utm_value_1' class="utm-values">
            </div>

            <div>
                <select name='utm_2' class="utms">
                    {% for el in utms %}
                        <option value="{{ utm_2 }}">{{ el }}</option>
                    {% endfor %}
                </select>
                <input name='utm_value_2' class="utm-values">
            </div>

            <div>
                <select name='utm_3' class="utms">
                    {% for el in utms %}
                        <option value="{{ utm_3 }}">{{ el }}</option>
                    {% endfor %}
                </select>
                <input name='utm_value_3' class="utm-values">
            </div>

            <div>
                <select name='utm_4' class="utms">
                    {% for el in utms %}
                        <option value="{{ utm_4 }}">{{ el }}</option>
                    {% endfor %}
                </select>
                <input name='utm_value_4' class="utm-values">
            </div>

            <div>
                <select name='utm_5' class="utms">
                    {% for el in utms %}
                        <option value="{{ utm_5 }}">{{ el }}</option>
                    {% endfor %}
                </select>
                <input name='utm_value_5' class="utm-values">
            </div>

            <button class="btn btn-primary" id="btn-update">Обновить</button>
            {{ reset_button() }}
        </form>
        {{ wide_table(tables) }}

    {% endif %}
</div>
<div class="m-2 w-100 justify-content-center">
    <form method='get' action='/getPlotCSV'>
        <input type="hidden" name="value" value="channels_summary, Источники - сводная таблица"/>
        <button class="btn btn-primary">Скачать отчет в csv</button>
    </form>
</div>

{% endblock %}