{% from 'macros/buttons.html' import reset_button %}
{% from 'macros/tables.html' import wide_table %}

{% extends 'base.html' %}
{% block title %}Источники - сводная таблица{% endblock %}
{% block content %}
<div class='d-flex flex-column'>
    {% if error %}
        <h1 style="color: red">{{ error }}</h1>
        <div><a href="/" class="btn btn-success">В меню</a></div>
        <form method='get' action='/channels_summary'>
            <input type='date' name='date_start' value="{{ date_start }}" placeholder="date start">
            <input type='date' name='date_end' value="{{ date_end }}" placeholder="date end">
            <button class="btn btn-primary">Обновить</button>
            {{ reset_button() }}
        </form>
    {% else %}
        <h1>Источники - сводная таблица</h1>
        <div><a href="/" class="btn btn-success">В меню</a></div>
        <form method='get' id='filters' action='/segments'>
            <input type='date' name='date_start' value="{{ date_start }}" placeholder="date start">
            <input type='date' name='date_end' value="{{ date_end}}" placeholder="date end">
            <button class="btn btn-primary">Обновить</button>
            {{ reset_button() }}
        </form>
        {{ wide_table(tables) }}        


        <!-- {% for header, table in tables.items() %}
            <h3>{{ header }}</h3>
            {{ table.to_html() |safe }}
        {% endfor %}  -->
    {% endif %}
</div>
{% endblock %}