{% extends 'base.html' %}
{% block title %} Обороты {% endblock %}
{% block content %}
    <div class="card p-2 w-25 justify-content-center">
        <h3 class="text-center">Меню</h3>
        <div class="m-2 w-100 justify-content-center">
            <a href="/segments" class="btn btn-primary m-1">Сегменты</a>
            <a href="/turnover" class="btn btn-primary m-1">Обороты</a>
            <a href="/clusters" class="btn btn-primary m-1">Кластеры</a>
            <a href="/landings" class="btn btn-primary m-1">Лэндинги</a>
            <a href="/traffic_sources" class="btn btn-primary m-1">Источники трафика</a>
            <a href="/segments_stats" class="btn btn-primary m-1">Сегменты статистика</a>
            <a href="/leads_ta_stats" class="btn btn-primary m-1">Лиды по ЦА статистика</a>
        </div>
        <div class="m-2 d-flex justify-content-center">
            <a href="/trafficologists" class="btn btn-success m-1">Трафикологи</a>
            <a href="/target_audience" class="btn btn-success m-1">Целевая аудитория</a>
        </div>
        <div class="m-2 d-flex justify-content-center">
            <a href="/logout" class="btn btn-danger m-1">Выйти</a>
        </div>
    </div>
{% endblock %}
