{% extends 'base.html' %}
{% block title %} Главная {% endblock %}
{% block content %}
    <div class="card text-center">
        <h3 class="text-center">Меню</h3>
        <div class="m-2 w-100 justify-content-center">
            <a href="/segments" class="btn btn-primary m-1">Сегменты</a>
            <a href="/turnover" class="btn btn-primary m-1">Обороты</a>
            <a href="/clusters" class="btn btn-primary m-1">Кластеры</a>
            <a href="/landings" class="btn btn-primary m-1">Лэндинги</a>
            <a href="/channels" class="btn btn-primary m-1">Каналы</a>
            <a href="/traffic_sources" class="btn btn-primary m-1">Источники трафика</a>
            <a href="/segments_stats" class="btn btn-primary m-1">Сегменты статистика</a>
            <a href="/leads_ta_stats" class="btn btn-primary m-1">Лиды по ЦА статистика</a>
            <br><br><hr style="width:50%; margin: auto"><br>
            <a href="/channels_summary" class="btn btn-primary m-1">Источники - сводная таблица</a>
            <a href="/channels_detailed" class="btn btn-primary m-1">Источники - детализированные отчеты</a>
            <br><br><hr style="width:30%; margin: auto"><br>
            <a href="/payments_accumulation" class="btn btn-primary m-1">Оплаты и ROI - накопление</a>
            <a href="/marginality" class="btn btn-primary m-1">Маржинальность</a>
            <a href="/audience_type" class="btn btn-primary m-1">Типы ЦА по дням</a>
            <br><br><hr style="width:10%; margin: auto"><br>
        </div>
        <div class="m-2 w-100 justify-content-center">
            <a href="/trafficologists" class="btn btn-success m-1">Трафикологи</a>
            <a href="/crops" class="btn btn-success m-1">Посевы</a>
            <a href="/target_audience" class="btn btn-success m-1">Целевая аудитория</a>
            <a href="/statuses" class="btn btn-success m-1">Статусы</a>
            <a href="/expenses" class="btn btn-success m-1">Расходы</a>
            <a href="{{ url_for('vk_statistics') }}" class="btn btn-success m-1">ВК</a>
            <br><br><hr style="width:10%; margin: auto"><br>
        </div>
        <div class="m-2 w-100 justify-content-center">
            <a href="/logout" class="btn btn-danger m-1">Выйти</a>
        </div>

    </div>
    <a href ='https://docs.google.com/spreadsheets/d/1oQuX7eA5eijO98Ht_wO9O1noR20yJB73YiKfAnvQQ1g/' target="_blank">Google таблица с данными</a>
    <div id="leads-dynamics-plot">

    </div>


{% endblock %}
<!--    <script>-->
<!--        console.log("{{ fig_leads_dynamics() }}".replaceAll('&#34;', "\""))-->
<!--        let plot = JSON.parse("{{ fig_leads_dynamics() }}".replaceAll('&#34;', "\""));-->
<!--        Plotly.newPlot('leads-dynamics-plot', plot.data, plot.layout);-->
<!--    </script>-->