{% extends 'base.html' %}
{% block title %}Лендинги{% endblock %}
{% block content %}
<div class='d-flex flex-column'>
    {% if error %}
        <h1 style="color: red">{{ error }}</h1>
        <div><a href="/" class="btn btn-success">В меню</a></div>
        <form method='get' action='/landings'>
            <input type='date' name='date_start' value="{{ date_start }}" placeholder="date start">
            <input type='date' name='date_end' value="{{ date_end }}" placeholder="date end">
            <button class="btn btn-primary">Обновить</button>
            <button class="btn btn-success" id="resetFilterButton">Сбросить фильтр</button> 
        </form>
    {% else %}
        <h1>Сегменты</h1>
        <div><a href="/" class="btn btn-success">В меню</a></div>
        <form method='get' id='filters' action='/landings'>
            <input type='date' name='date_start' value="{{ date_start }}" placeholder="date start">
            <input type='date' name='date_end' value="{{ date_end}}" placeholder="date end">
            <button class="btn btn-primary">Обновить</button>
            <button class="btn btn-success" id="resetFilterButton">Сбросить фильтр</button> 
        </form>
        {% for header, table in tables.items() %}
            <h3>{{ header }}</h3>
            {{ table.to_html() |safe }}
        {% endfor %}
    {% endif %}
</div>
<script>
    let resetFilterButton = document.querySelector('#resetFilterButton');
    resetFilterButton.addEventListener('click', function(event) {
        event.preventDefault();
        let button = event.target;
        let form = button.closest('form');
        let start_date = form.querySelector('[name=date_start]');
        let end_date = form.querySelector('[name=date_end]');
        start_date.value="";
        end_date.value="";
        form.submit();
    });

    function setTAFilter(num) {
        return function(event) {
            console.log(1);
            event.preventDefault()
            let hidden = document.querySelector('#ta-filter');
            hidden.setAttribute('value', num);
            let form = document.querySelector('#filters');
            form.submit();
        }
    }
</script>

{% endblock %}