{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="filter-block">
        <div class="field">
            <label for="field-user">Фамилия и имя менеджера</label>
            <input type="text" name="user" id="field-user" value="">
        </div>
    </div>
    <div class="filter-actions">
        <button class="btn btn-primary">Загрузить</button>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/s3-upload.js') }}"></script>
{% endblock js %}
