{% extends 'base.html' %}
{% block title %} Источники трафика {% endblock %}
{% block content %}
<div class="d-flex flex-column">
    {% if error %}
        <h1 style="color: red">{{ error }}</h1>
        <form method='get' action='/traffic_sourses'>
            <input type='date' name='date_start' value="{{ date_start }}" placeholder="date start">
            <input type='date' name='date_end' value="{{ date_end }}" placeholder="date end">
            <input type='hidden' name='tab' value="{{ tab if tab else 1 }}" >
            <button class="btn btn-primary">Обновить</button>
            <button class="btn btn-success" id="resetFilterButton">Сбросить фильтр</button> 
        </form>
    {% else %}
        <h1>Источники трафика</h1>
        <div><a href="/" class="btn btn-success">В меню</a></div>
        <form method='get' action='/traffic_sources'>
            <input type='date' name='date_start' value="{{ date_start }}" placeholder="date start">
            <input type='date' name='date_end' value="{{ date_end }}" placeholder="date end">
            <input type='hidden' name='tab' id="tab" value="{{ tab if tab else 1 }}"> 
            <button class="btn btn-primary">Обновить</button>
            <button class="btn btn-success" id="resetFilterButton">Сбросить фильтр</button> 
        </form>
        <div>
            {{ tables['Источники трафика'].to_html() |safe}}
        </div>
    {% endif %}
</div>

<script>
    function onTabChange(num) {
        return function(event) {
            let element = document.querySelector('#tab');
            element.setAttribute('value', num);
        }
    }
    for (const [i, element] of document.querySelectorAll('.tab-button').entries()) {
        element.addEventListener('click', onTabChange(i + 1));
    }

    let resetFilterButton = document.querySelector('#resetFilterButton');
    resetFilterButton.addEventListener('click', function(event) {
        event.preventDefault();
        let button = event.target;
        let form = button.closest('form');
        let start_date = form.querySelector('[name=date_start]');
        let end_date = form.querySelector('[name=date_end]');
        start_date.value="";
        end_date.value="";
        form.submit();
    })
</script>

{% endblock %}
