{% from 'macros/tables.html' import tabs %}
{% from 'macros/last_updated.html' import last_updated %}

{% extends 'base.html' %}
{% block title %} Обороты {% endblock %}
{% block content %}
<div class="d-flex flex-column">
    {% if error %}
        <h1 style="color: red">{{ error }}</h1>
        <form method='get' id='filters' action='/turnover'>
            <p>Дата создания:
                <input type='date' name='date_request_start' value="{{ date_request_start }}">
                <input type='date' name='date_request_end' value="{{ date_request_end }}">
            </p>
            <p>Дата оплаты:
                <input type='date' name='date_payment_start' value="{{ date_payment_start }}">
                <input type='date' name='date_payment_end' value="{{ date_payment_end }}">
            </p>
            <input type='hidden' name='tab' id='tab' value="{{tab if tab else 1}}">
            <button class="btn btn-primary">Обновить</button>
            <button class="btn btn-success" id="resetFilterButton">Сбросить фильтр</button> 
        </form>
    {% else %}
        <h1>Обороты</h1>
        <div><a href="/" class="btn btn-success">В меню</a></div>
        <form method='get' id='filters' action='/turnover'>
            <p>Дата создания:
                <input type='date' name='date_request_start' value="{{ date_request_start }}">
                <input type='date' name='date_request_end' value="{{ date_request_end }}">
            </p>
            <p>Дата оплаты:
                <input type='date' name='date_payment_start' value="{{ date_payment_start }}">
                <input type='date' name='date_payment_end' value="{{ date_payment_end }}">
            </p>
            <input type='hidden' name='tab' id='tab' value="{{tab if tab else 1}}">
            <button class="btn btn-primary">Обновить</button>
            <button class="btn btn-success" id="resetFilterButton">Сбросить фильтр</button> 
        </form>

        {% macro table(header, row, loop) -%}
            <div class="tab-pane fade {{'show active' if loop.index == 1 and tab is none or tab|int == loop.index else ''}}" id="turnover-{{loop.index}}" role="tabpanel" aria-labelledby="turnover-{{loop.index}}-tab">
                {% if (header != 'traffic_channel') and (header != 'Оборот на ЦА') and (header != 'ЦА') %}
                    <h3>Множитель: {{ row[2] }}</h3>
                    {{ row[0].to_html() |safe }}
                    <hr>
                    {{ row[1].to_html() |safe }}
                {% else %}
                    {{ row.to_html() |safe }}
                {% endif %}
            </div>
        {%- endmacro %}

        {{ tabs(tables, table, tab) }}


    {% endif %}


</div>

{% endblock %}
