{% extends 'base.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div class="card p-3 text-center">
        <div class="group">
            <a href="{{ url_for('segments') }}" class="btn btn-primary">Сегменты</a>
            <a href="{{ url_for('turnover') }}" class="btn btn-primary">Обороты</a>
{#            <a href="/clusters" class="btn btn-primary m-1">Кластеры</a>#}
{#            <a href="/landings" class="btn btn-primary m-1">Лэндинги</a>#}
{#            <a href="/channels" class="btn btn-primary m-1">Каналы</a>#}
{#            <a href="/traffic_sources" class="btn btn-primary m-1">Источники трафика</a>#}
{#            <a href="/segments_stats" class="btn btn-primary m-1">Сегменты статистика</a>#}
{#            <a href="/leads_ta_stats" class="btn btn-primary m-1">Лиды по ЦА статистика</a>#}
{#            <br><br><hr style="width:50%; margin: auto"><br>#}
{#            <a href="/statistics" class="btn btn-primary m-1">Статистика</a>#}
{#            <a href="{{ url_for('zooms') }}" class="btn btn-primary m-1">Zooms</a>#}
{#            <a href="{{ url_for('week_stats_expenses') }}" class="btn btn-primary m-1">Когорты</a>#}
{#            <a href="{{ url_for('statistics_roistat') }}" class="btn btn-primary m-1">Статистика Roistat</a>#}
{#            <a href="{{ url_for('statistics_utm') }}" class="btn btn-primary m-1">Статистика UTM</a>#}
{#            <a href="/channels_summary" class="btn btn-primary m-1">Источники - сводная таблица</a>#}
{#            <a href="/channels_detailed" class="btn btn-primary m-1">Источники - детализированные отчеты</a>#}
{#            <br><br><hr style="width:30%; margin: auto"><br>#}
{#            <a href="/payments_accumulation" class="btn btn-primary m-1">Оплаты и ROI - накопление</a>#}
{#            <a href="/marginality" class="btn btn-primary m-1">Маржинальность</a>#}
{#            <a href="/audience_type" class="btn btn-primary m-1">Типы ЦА по дням</a>#}
{#            <br><br><hr style="width:10%; margin: auto"><br>#}
        </div>
        <div class="group">
{#            <a href="/trafficologists" class="btn btn-success m-1">Трафикологи</a>#}
{#            <a href="/crops" class="btn btn-success m-1">Посевы</a>#}
{#            <a href="/target_audience" class="btn btn-success m-1">Целевая аудитория</a>#}
{#            <a href="/statuses" class="btn btn-success m-1">Статусы</a>#}
{#            <a href="/expenses" class="btn btn-success m-1">Расходы</a>#}
{#            <a href="{{ url_for('vk_statistics') }}" class="btn btn-success m-1">ВК</a>#}
{#            <a href="{{ url_for('search_leads') }}" class="btn btn-success m-1">Поиск лидов</a>#}
{#            <br><br><hr style="width:10%; margin: auto"><br>#}
        </div>
        <div class="group">
            {{ form.render() }}
        </div>
    </div>
    <div class="links">
        <a href ="https://docs.google.com/spreadsheets/d/1oQuX7eA5eijO98Ht_wO9O1noR20yJB73YiKfAnvQQ1g/" target="_blank">Google таблица с данными</a>
    </div>
{% endblock %}
